*.vsix
ignore/
node_modules
jspm_packages
.yarn-integrity
.eslintcache
.npm
*~
._*
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.fuse_hidden*
.directory
.nfs*
.DS_Store
.DS_Store?
.Spotlight-V100
.Trash-*
.Trashes
ehthumbs.db
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/
nohup.out
*.7z
*.tar
*.tar.*
*.jar
*.rar
*.zip
*.gz
*.gzip
*.tgz
*.bzip
*.bzip2
*.bz2
*.xz
*.lzma
*.cab
*.xar
*.com
*.class
*.dll
*.exe
*.o
*.so
*.iso
*.log
*.log.*
*.sig
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm
*.msi
*.msm
*.msp
*.txz
